@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap");

body {
  @apply m-0 p-0 bg-light-gray;
}

h1,
h2 {
  @apply font-semibold font-display;
}

h3 {
  @apply font-normal italic font-display;
}

h4 {
  @apply font-body;
}

section {
  margin: 10rem 0 0 0;
  background-position: top center;
  background-size: 120%;
  background-repeat: no-repeat;

  &:first-child {
    margin-top: 0;
  }

  & h2.section-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
  }

  &#main {
    background-image: url("/img/pink_curve.svg");
  }

  &#about {
    background-image: url("/img/black_curve.svg");
  }

  &#contact {
    background-image: url("/img/yellow_curve.svg");
    padding-bottom: 2rem;

    & footer {
      text-align: center;
      padding-top: 4rem;
      color: theme(colors.primary);
    }
  }
}

@media only screen and (--desktop) {
  #projects {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

#tag-buttons {
  text-align: center;
}

@define-mixin btn-primary {
  color: white;
  background-color: theme(colors.primary);
}

@define-mixin btn-off {
  color: white;
  background-color: rgb(255, 128, 204);
}

@define-mixin btn-tag {
  text-transform: none;
  letter-spacing: 0;
  padding: 0.4rem 0.8rem;
}

@define-mixin btn-on {
  color: white;
  background-color: #ec008c;
}

.btn,
a.btn {
  display: inline-block;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 14px;
  color: theme(colors.primary);
  text-decoration: none;
  text-decoration: none;
  padding: 0.8rem 1.6rem;
  border-radius: 3rem;
  cursor: pointer;
}

.btn-primary,
a.btn-primary {
  @mixin btn-primary;

  &:hover {
    background-color: #3838ba;
  }
}

.btn-off,
a.btn-off {
  @mixin btn-tag;
  @mixin btn-off;

  &:hover {
    background-color: rgb(255, 153, 214);
  }
}

.btn-on,
a.btn-on {
  @mixin btn-tag;
  @mixin btn-on;

  &:hover {
    background-color: rgb(212, 0, 126);
  }
}

form {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 300px;

  @media (--tablet), (--desktop) {
    max-width: 486px;
  }

  & .btn-primary {
    background-color: #4848f0;

    &:hover {
      background-position: ;
    }
  }
}

@define-mixin field-input {
  border: 0;
  width: 100%;
  display: block;
  line-height: 2rem;
  font-size: 16px;
  padding: 0.5rem 1rem;
  margin: 0 0 1rem 0;
  font-family: "IBM Plex Sans", sans-serif;
  border: solid 3px #f6f3f9;

  box-shadow: 7px 7px 0px 0px #4848f0;
}

input {
  @mixin field-input;
}

textarea {
  @mixin field-input;
  height: 150px;
}

.select {
  width: 100%;
  overflow: hidden;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 1rem 0;
  box-shadow: 7px 7px 0px 0px #4848f0;

  & select {
    padding: 12px 1rem;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 14px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;

    &:focus {
      outline: none;
    }
  }
}

input,
textarea {
  &:focus {
    outline: none;
  }
}

.button-inline {
  border-radius: 2rem;
  margin-left: -4rem;
}

[data-toggle="on"] {
  display: block;
}

[data-toggle="off"] {
  display: none;
}
